.Color {
  display: flex;
  margin-top: 20px;

  .current-color {
    position: relative;
    width: 45px;
    height: 45px;
    z-index: 2;
    background-color: blue;
  }

  .previous-color {
    position: relative;
    background-color: red;
    width: 45px;
    height: 45px;
    z-index: 1;
    margin-top: 20px;
    margin-left: -25px;
  }
}
