.Preview {
  margin-left: 30px;

  .gif {
    border: 2px solid greenyellow;
  }

  .fps-input-label {
    display: block;
    margin-bottom: 10px;

    .fpsInput {
      margin-left: 5px;
    }
  }

  .buttons {
    display: flex;

     & > button {
       display: block;

       height: 40px;
       width: 120px;
       border-radius: 5px;

       background: slategray;
       color: white;

       text-align: center;

       &:first-child,&:nth-child(2) {
         margin-right: 10px;
       }
     }
  }
}
