.Preview {
  margin-left: 30px;

  .gif {
    border: 2px solid greenyellow;
  }

  .frameRate-input-label {
    display: block;
    margin-bottom: 10px;

    font-size: 18px;

    .frameRateInput {
      margin-left: 10px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

     & > button {
       display: block;

       height: 40px;
       width: 120px;
       border-radius: 5px;

       background: slategray;
       color: white;

       text-align: center;
     }
  }

  .fullscreen-modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255,255,255,1);


    &.closed {
      display: none;
    }

    &.open {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 30px;
    }

    img {
      z-index: 3;
      width: 1024px;
      height: 1024px;
    }
  }
}
