.Frames {
  .frame {
    .top {

    }

    .bottom {
      .move {
        width: 24px;
        height: 24px;
        background: #C4C4C4 url("https://img.icons8.com/small/16/000000/move.png");
      }
    }
  }

  .new {
    display: flex;
    height: 48px;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
  }
}
