button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  all: unset;
}

#netlify-modal {
  margin-left: 10px;
  display: block;

  height: 40px;
  line-height: 40px;
  width: 120px;
  border-radius: 5px;

  background: slategray;
  color: white;

  text-align: center;

}
